#players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    background-color: #FFFFFF;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
    transition: max-height 0.3s ease-in-out;
}
#players.collapsed {
    max-height: 56px;
    overflow: hidden;
}

#players.expanded {
    max-height: 500px; /* Достаточно для списка */
}
.micro-text {
    font-weight: 400;
    font-size: 14px;
    padding-left: 36px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

.zero_cross {
    display: flex;
    gap: 12px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.gamersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.playersList {
    overflow: hidden;
    transition: max-height 0.9s ease-in-out;
}

.playersList.closed {
    max-height: 0;
    pointer-events: none;
}

.playersList.open {
    max-height: 500px; /* Достаточно для списка */
    opacity: 1;
}
.gamersHeader:active,
.gamersHeader img:active,
.gamersHeader:focus,
.gamersHeader img:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1550px) {
    .gamerName {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .gamerName {
        font-size: 14px;
        padding: 0;
        line-height: 20px;
    }
    .micro-text {
        padding-left: 32px;
    }
    #players{
        max-width: 366px;
        padding: 16px;
        gap: 20px;
    }
    .gamersText{
        font-size: 16px!important;
        line-height: 24px!important;
    }
    .micro-text {
        font-weight: 400;
        font-size: 12px;
        padding-left: 36px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #898993;
    }
    .gamerIcon{
        width: 22px!important;
    }
    .gamersHeader {
        cursor: pointer;
    }
}