.time {
    text-align: center;
    letter-spacing: 0.25px;
    padding: 24px;
    max-width: 139px;
    max-height: 88px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    box-sizing: border-box;
    background: #EDEDED;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: #373745;
}

@media (max-width: 768px) {
    .time {
        font-size: 20px;
        padding: 10px;
        line-height: 24px;
        display: inline-table;
        max-width: 77px;
        max-height: 48px;
    }
}