.playerField:hover {
    background-color: #60C2AA4D;
    cursor: pointer;
    border-radius: 12px !important;
}

.selectPlayer {
    background-color: #60c2aa !important;
    color: white !important;
    cursor: pointer;
    border-radius: 12px !important;
}
@media (max-width: 1100px) {
    .selectPlayer, .playerField {
        min-width: 100%;
        width: auto;
    }
}