.square{
    width: 218.33px;
    height: 218.33px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    border: unset;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px #2c397917;
}

.square:hover {
    background-color: #F7F7F7;
    cursor: pointer;
}
.square:disabled {
    background-color: #F7F7F7;
    cursor: not-allowed;
}
@media (max-width: 1550px) {
    .square{
        width: 150px;
        height: 150px;
    }
    .symbol{
        width: 135px;
        height: 140px;
    }
}
@media (max-width: 768px) {
    .square{
        width: 119px;
        height: 119px;
    }
    .symbol{
        width: 79px;
        height: 79px;
    }
}