#desktop-nav {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    position: fixed;
    width: -webkit-fill-available;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0 0 16px 16px;
    z-index: 999;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    max-width: 707px;
    justify-content: space-between;
    width: -webkit-fill-available;
}

#signout {
    line-height: 0;
    color: #373745;
    /* Начальный цвет */
    padding: 5px;
}

#signout:hover {
    color: #3BA189;
}

.nav-b {
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    border-radius: 200px;
    padding: 4px 12px;

}

#nav-bar a.active {
    color: #FFFFFF;
    border-radius: 200px;
    background: #60C2AA;
}

#nav-bar a.active:hover {
    color: #FFFFFF;
    border-radius: 200px;
    background: #60C2AA !important;
}

.nav-b:hover {
    cursor: pointer;
    background-color: #F7F7F7;
}

/* Мобильное меню - скрыто на ПК */
#mobile-nav {
    display: none;
}

header {
    display: contents;
}

@media (max-width: 768px) {
    #desktop-nav {
        display: none;
    }

    .nav-b {
        font-weight: 700;
        font-size: 20px;
    }

    #nav-bar a.active {
        color: #60C2AA !important;
        background: #FFFFFF !important;
    }

    #nav-bar a.active:hover {
        color: #FFFFFF;
        border-radius: 200px;
        background: #FFFFFF !important;
    }

    .nav-b:hover {
        cursor: pointer;
        background: #FFFFFF !important;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
        position: fixed;
        justify-content: space-between;
        z-index: 999;
        box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
        border-radius: 0 0 16px 16px;
    }

    summary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        width: -webkit-fill-available;
        background: #FFFFFF;
        border-radius: 0 0 16px 16px;
        z-index: 999;
    }

    .newSummary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
        background: #FFFFFF;
        z-index: 999;
    }

    #nav-bar {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        padding: 16px 20px 40px 20px;
        height: 0;
    }

    details[open] {
        box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
        background: #FFFFFF;
    }

    /* Плавное появление overlay */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(32, 35, 34, 0);
        pointer-events: none;
        transition: background 0.3s ease, opacity 0.3s ease;
        z-index: 998;
    }

    details[open]~#overlay {
        background: rgba(32, 35, 34, 0.8);
        pointer-events: auto;
        opacity: 1;
    }

    details[open]>summary {
        display: none;
        pointer-events: none;
    }


    /* Анимация открытия */
    details[open] #nav-bar {
        animation: slideDown 0.3s ease-out forwards;
    }
    details[open] #nav-bar {
        animation: slideDown 0.3s ease-out forwards;
    }
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }

        to {
            height: 300px;
            /* Подбери значение вручную */
            opacity: 1;
            transform: translateY(0);
        }
    }
}